body {
    background: linear-gradient(0.12turn, #3e62f4, #ff57e0);
    background-attachment: fixed;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

footer a {
    color:#3e62f4;
}
ul a:hover {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

p {
    width:100%;
    float:left;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
}

li {
    list-style: none;  
    display: inline;
    padding: 0px 10px;
    margin: 0 10px;
    text-align: center;
    font-size: 1.25rem;
}

#bio {
    float: Left;
    text-align: center;
    margin: 0 auto;
    width: 100%;

}

img {
    width: 33.3%;
    object-fit: cover;
    float:left;
    /* border:.0.3% solid transparent;  */
}

nav {
    /* background: linear-gradient(0.01turn, transparent, #ff57e0, transparent); */
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: #ff57e0;
    color: black;
    margin:0 -5px;
    z-index: 99;
}
nav div {
    margin:0 auto;
    width:100vw;
    float: left;
    text-align: center;
    padding: 0px;
}
nav ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 3rem;
    padding: 0;
    margin: 3px 0px 0px 0px;
}

#content {
    /* border: 2px solid gold; */
    width: 60%;
    margin: 0 auto;
    clear:both;
    position:fixed;
    top:20%;
    background-color: transparent;
    position: absolute;
    left:20%;
    padding-bottom: 5rem;

}

body {
    margin: 0 auto;
    display: block;
}
#content-wrap {
    padding-bottom: 15rem;
        /* Footer height */
  }

footer {
    /* float: left; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    background: black;
    z-index: 80;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

#page-container {
    position: relative;
    min-height: 100vh;
  }

  .fa {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  span {
    width: 100%;
    padding:1rem;
    text-align: right;
    float: right;
  }

  span.rep {
    width: 100%;
    text-align: left;
    float: left;
    font-size: 1.25rem;
    padding:.5rem;
  }

  #resumeDiv {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    clear:both;
    position:fixed;
    top:20%;
    left: 15%;
    background-color: transparent;
    position: absolute;
    padding-bottom: 5rem;
  }

  #reels {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    clear:both;
    position:fixed;
    top:20%;
    left: 15%;
    background-color: transparent;
    position: absolute;
    padding-bottom: 10rem;
  }

  .reel{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  #reel3 {
    margin-top:3rem;
  }

  .extendedclips {
    width:33%;
    float: left;
    margin-top: 2rem;
}

 .rep_article {
    width:30%;
    float: left;
    margin-top: 2rem;
    padding-left: 3rem;
    box-sizing: border-box;
}


  #representationDiv{
    /* text-align: left; */
    width: 92%;
    margin: 0 auto;
    clear:both;
    position:absolute;
    top:20%;
    left: 4%;
    background-color: transparent;
    padding-bottom: 5rem;
  }

 /* .rep_title {
    margin-top: 10px;
    margin-left: 10px;
 }  */

 article {
    margin:10px;
    padding:5px;
    float: left;

 }
  #resume {
    width: 100%;
    object-fit: cover;
    float:left;
    margin: 0 auto;
  }

  /* some stuff I stole for the headshots page */
  /* .wrapper {
	width: 80%;
	margin: 40px auto;
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 40vw);
    grid-gap: 1px;
    
}

div.gallery {
    margin:150px 20px 0px 20px;
}

img.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

figure.gallery_item {
    margin: 10px 5px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    
}

/* footer div {
    width:30%;
} */

#taylorswiftblankspace, #radlink {
    width: 15%;
}

/* 
div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
} */

/* animation */
/* div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
} */

/* div.gallery ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
} */

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
/* div.gallery ul li:hover {
	z-index: 5;
} */

/* Image is position nicely under li */
/* div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 130px;
	height: 130px;
	background: #f0f0f0;
} */

/* div.gallery ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
} */



/* Responsive hack */
/* @media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
} */